.sidebarRow {
    display: flex;
    align-items: center;
    padding: 9px 20px;
    background-color: #222222;
}
.sidebarRow__icon {
    color: #838383;
    font-size: 23px !important;
}
.sidebarRow__title {
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-family: Roboto;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: 500;
    color: #dbd9d9;
}
.sidebarRow:hover {
    background-color: #3b3b3b;
    cursor: pointer;
}
.sidebarRow.selected {
    background-color: #3b3b3b;

}
.sidebarRow.selected > .sidebarRow__title {
    color: #fff;
}
.sidebarRow.selected > .sidebarRow__icon {
    color: #fff;
}