.videoCard {
    margin-bottom: 40px;
    width: 270px;
}
.videoCard__thumbnail {
    height: 140px;
    width: 250px;
}
.videoCard__info {
    display: flex;
    margin-top: 10px;
    padding-right: 30px;
}
.videoCard__text {
    margin-left: 15px;
}
.videCoar__text {
    margin-left: 15px;
}
.videoCard__text > h4 {
    font-family: Roboto;
    font-size: 14px;
    margin-bottom: 5px;
    color: #fff;
}
.videoCard__text > p {
    font-family: Roboto;
    font-size: 14px;
    color: #b5b4b4;
}
.videoCard__text > p > .dot {
    font-size: 5px !important;
    position: relative;
    bottom: 3px;
}
.videoCard__avatar {
    height: 30px !important;
    width: 30px !important;
}